<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head('Formulario de Paciente')}"></head>
<body>
<div class="container mt-5">
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <h1 th:text="${paciente.id == null} ? 'Nuevo Paciente' : 'Editar Paciente'"></h1>
    <form th:action="${paciente.id == null} ? @{/pacientes} : @{/pacientes/actualizar/{id}(id=${paciente.id})}" method="post" th:object="${paciente}">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Ingrese Nombre" required>
        </div>
        <div class="mb-3">
            <label for="cedula" class="form-label">Cédula</label>
            <input type="text" class="form-control" id="cedula" th:field="*{cedula}" placeholder="Ingrese Cédula" required>
        </div>
        <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" th:field="*{direccion}" placeholder="Ingrese Dirección" required>
        </div>
        <div class="mb-3">
            <label for="prevision" class="form-label">Previsión</label>
            <input type="text" class="form-control" id="prevision" th:field="*{prevision}" placeholder="Ingrese Previsión" required>
        </div>
        <div class="mb-3">
            <label for="contacto" class="form-label">Contacto</label>
            <input type="text" class="form-control" id="contacto" th:field="*{contacto}" placeholder="Ingrese N° Contacto" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
<div th:insert="~{fragments/scripts :: scripts}"></div>
</body>
</html>